* {
	box-sizing: border-box;
}

:root {
	--gutter: 0.8rem;
	--shim: calc(var(--gutter) / 2);
	--half-shim: calc(var(--gutter) / 4);
}

body {
	margin: 0;
	font-family: 'Share', sans-serif;
	color: #333;
	line-height: 1;
}

img {
	display: block;
}